.file-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 16px;
  border-radius: var(--mantine-radius-md);
  background-color: light-dark(
      rgb(244 244 244),
      rgb(44 44 44)
  );
  cursor: pointer;
  transition: box-shadow 150ms ease,
  transform 100ms ease;
  width: 100%;

  @mixin hover {
    box-shadow: var(--mantine-shadow-lg);
    transform: scale(1.05);
  }
}


.modal-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mantine-modal-body	 {
  padding: 0 !important;
  border-radius: 2px 2px 0 0;
}

.content {
  padding: 0 !important;
  position: relative;
  border-radius: 2px;
}

.content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: #006040;
}

.header {
  top: 0 !important;
  z-index: 999 !important;
  background: #006040;
  padding: 12px 16px !important;
  border-radius: 0 !important;
  height: 45px !important;
  min-height: 0 !important;
}

.title {
  color: #FFF;
  font-weight: 500;
  font-size: 18px
}

.close {
  color: #FFF;
}

.close:hover {
  background-color: transparent;
}

.button {
  background: #007458 !important;
  padding: 8px 16px !important;
  border-radius: 2px !important;
  font-size: 12px;
  line-height: 14px;
  height: 30px;

  &:disabled {
    color: #EBEDF0;
    opacity: 0.5;
    background-color: #006040;
  }
}

.inner {
  height: 100%;
}
